@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: black;
}

.container{
  width: 100%;
  background-color: rgb(94, 179, 186);
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  justify-content: center;
} 

h2 {
  background-color: rgb(94, 179, 186);

}

.card-body {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: black;
  color: white
}

.card-img-top {
  object-fit: contain;
}

.navbar {
  outline: auto;
  padding: 0.5rem;
  background-color: rgb(94, 179, 186);
}

.nav-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  margin: 0 20px;
}

.text-center {
  text-align: center;
  text-decoration: none;
  padding: none;
}

.card {
  border-radius: 1rem;
}

.footer {
  width: 100%;
  height: 200px; 
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}