@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  /* background-image: url("movieimg3.jpeg");
  background-size: contain; */
}

.container{
  width: 100%;
  margin: 1em auto;
  background-color: #A4BAB7;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2em;
  justify-content: center;
} 

h2 {
  background-color: aqua;
}

.card-body {
  background-color: #A4BAB7;
}

.nav {
  outline: auto;
}