@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  /* background-image: url("movieimg3.jpeg");
  background-size: contain; */
}

.container{
  width: 100%;
  margin: 1em auto;
  /* background-color: black; */
  background-color: rgb(94, 179, 186);
  /* background-color: rgb(115, 189, 196); */
  /* background-color: #A4BAB7; */
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  justify-content: center;
} 

h2 {
  /* background-color: black; */
  background-color: rgb(94, 179, 186);
  /* background-color: rgb(115, 189, 196); */
  /* background-color: #A4BAB7; */
}

.card-body {
  text-align: center;
  margin: auto;
  /* background-color: black; */
  color: white
  /* background-color: rgb(115, 189, 196); */
  /* background-color: #A4BAB7; */
}

.nav {
  outline: auto;
  padding: 0.2rem;
  /* background-color: black; */
  background-color: rgb(94, 179, 186);
  /* background-color: rgb(115, 189, 196); */
  /* background-color: #A4BAB7; */
}

.text-center {
  text-align: center;
  text-decoration: none;
  padding: none;
}

.card {
  border-radius: 1rem;
}